@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background:#DFDFDF; 
    border-radius: 8px;
  }

}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #d4af37; 
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #d4af37; 
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #D97706;
  border-radius: 50%;
  cursor: pointer;
}

/* add blur fade effect on content */
.arrow {
  animation: shiftLeftAndBack 1s ease-in-out infinite;
}


@keyframes shiftLeftAndBack {
  0% {
    transform: translateX(0);  /* Start at the original position */
  }
  50% {
    transform: translateX(10px); /* Move 10px to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Return to the original position */
    opacity: 0;
  }
}

.ant-form-item-label > label {
  font-family: "Anek Gujarati", serif !important;
}


body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  ;
  /* overflow: hidden;  */
}
