@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background:#DFDFDF; 
    border-radius: 8px;
  }

}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #d4af37; 
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #d4af37; 
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #D97706;
  border-radius: 50%;
  cursor: pointer;
}

/* add blur fade effect on content */
.arrow {
  animation: shiftLeftAndBack 1s ease-in-out infinite;
}


@keyframes shiftLeftAndBack {
  0% {
    transform: translateX(0);  /* Start at the original position */
  }
  50% {
    transform: translateX(10px); /* Move 10px to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Return to the original position */
    opacity: 0;
  }
}

.ant-form-item-label > label {
  font-family: "Anek Gujarati", serif !important;
}


body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  ;
  /* overflow: hidden;  */
}

@keyframes fadeInUp {
          from {
            opacity: 0;
            transform: translateY(30px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        @keyframes fadeInLeft {
          from {
            opacity: 0;
            transform: translateX(-30px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }

        @keyframes fadeInRight {
          from {
            opacity: 0;
            transform: translateX(30px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .animate-fadeInUp {
          animation: fadeInUp 0.8s ease-out forwards;
        }

        .animate-fadeInLeft {
          animation: fadeInLeft 0.8s ease-out forwards;
        }

        .animate-fadeInRight {
          animation: fadeInRight 0.8s ease-out forwards;
        }

        

         @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(30px) scale(0.95);
          }
          to {
            opacity: 1;
            transform: translateY(0) scale(1);
          }
        }

        .line-clamp-2 {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        
        @media (prefers-reduced-motion: reduce) {
          * {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
          }
        }

        
        /* animation for comment  */

          @keyframes slideUpMobile {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideDownMobile {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }